#### Initiation

In [20]:
# Import libraries

import pandas as pd
import numpy as np
# from sklearn.cross_validation import cv

In [21]:
# Install & import pandas_profiling
#!pip install pandas_profiling

import pandas_profiling

#### Main Body

In [22]:
# Read Boston housing price

df_data = pd.read_csv('housing.csv')
df_data.shape

(489, 4)

In [24]:
df_data.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 489 entries, 0 to 488
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   RM       489 non-null    float64
 1   LSTAT    489 non-null    float64
 2   PTRATIO  489 non-null    float64
 3   MEDV     489 non-null    float64
dtypes: float64(4)
memory usage: 15.4 KB

In [23]:
# Print out the information of dataset. 

df_data.describe()

               RM       LSTAT     PTRATIO          MEDV
count  489.000000  489.000000  489.000000  4.890000e+02
mean     6.240288   12.939632   18.516564  4.543429e+05
std      0.643650    7.081990    2.111268  1.653403e+05
min      3.561000    1.980000   12.600000  1.050000e+05
25%      5.880000    7.370000   17.400000  3.507000e+05
50%      6.185000   11.690000   19.100000  4.389000e+05
75%      6.575000   17.120000   20.200000  5.187000e+05
max      8.398000   37.970000   22.000000  1.024800e+06

In [ ]:
# Definition

# Features:

# RM: average number of rooms per dwelling
# LSTAT: percentage of population considered lower status
# PTRATIO: pupil-teacher ratio by town

# Target Variable:
# MEDV: median value of owner-occupied homes in $

In [13]:
# Define target & features

prices = df_data['MEDV'] 
features = df_data.drop(columns='MEDV')